
  a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}
  li {display: inline;}
  .guf {text-align: center; /* Выравнивание по центру */}
 
@import url('https://fonts.googleapis.com/css?family=Pangolin');
.menu-main {/*настрока всего блока меню*/
  list-style: none;
  margin: 0 0 5px;
  padding: 25px 0 5px;
  text-align: center; 
  background: rgb(151, 233, 155); /*фон текста*/
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;}
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab {
  overflow: hidden;
  border: 1px solid #4CAF50;
  background-color: #C8E6C9;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #FFEB3B;
}


.tab button.active {
  background-color: #4CAF50;
  color: #fff;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #4CAF50;
  border-top: none;
}