.ramka {
  margin: 0 auto;
  height: 200px; /* Высота блока */
    width: 1200px; /* Ширина блока */
    overflow: auto; /* Добавляем полосы прокрутки */
    padding-left: 15px; /* Отступ от текста слева */
    background: url(img/background.jpg) repeat-y #fc0;
}